button[type="submit"]:hover {
    background-color: #45a049;
  }
  input[type="text"]:focus,
textarea:focus {
  border-color: #4CAF50;
  outline: none;
}
@media (min-width: 768px) {
    .blog-upload-page {
      width: 50%;
    }
  
    input[type="text"],
    textarea {
      width: 60%;
    }
  }